@font-face {
    font-family: 'Candelia';
    src: url('Candelia-Regular.woff2') format('woff2'),
        url('Candelia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

